@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.background {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e6e6fa;
  z-index: 0;
}

.navbar {
  position: absolute;
  text-align: center;
  top: 5%;
  width: 100%;
  z-index: 1;
}
.nav-link {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.nav-item {
  background-color: transparent;
  margin: 0 5px;
  border-radius: 10px;
  transition: background-color 0.3s; /* Adding a smooth transition effect */
}
ul.navbar-nav li.nav-item {
  background-color: #34006f5b;
}
ul.navbar-nav li.nav-item:hover {
  background-color: #e6e6fa5b;
  border-radius: 10px;
}
ul.navbar-nav li.nav-item:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
#intro {
  position: absolute;
  top: 10%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #33006f;
  margin-top: 80px;
}

#about-us,
#services,
#pricing,
#contact {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e6fa5b;
  padding: 60px 20px;
  color: #33006f;
  font-weight: bold;
}

.intro-text {
  font-size: clamp(2px, 5vh, 20px);
  font-weight: bold;
  padding: 80px 0 0 80px;
  text-align: center;
}
.intro-img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.side-heading {
  font-size: clamp(30px, 6vh, 40px);
  font-weight: bold;
  margin-bottom: 20px;
}

.about-para {
  font-size: clamp(5px, 6vh, 18px);
  font-weight: 20px;

  padding: 20px;
}
.about-img-col {
  display: flex;
  justify-content: center;
}
.about-img {
  width: 80%;
}

.services-para {
  text-align: center;
}
.services-stack,.plans-stack {
  display: flex;
  flex-direction: row;
}
.services-container {
  position: relative;
  width: 30vw;
  background-color: #e6e6fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #34006f5b, 0 6px 15px 0 #34006f5b;
  margin: 8px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  font-size: 20px;
  text-shadow: 0 0 2px #4400ff;
  padding: 10px 15px;
}
.services-image {
  display: block;
  width: 50%;
  height: auto;
  padding: 10px;
}

.services-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  background-color: #34006f5b;
  background-image: url(./images/Meteor.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.services-container:hover .services-overlay {
  height: 100%;
}

.services-text {
  color: #00ffffc5;
  text-shadow: 0 0 3px #4400ff;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.plans-stack{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.plans-color-dr{
  background-color: #D8BFD8;
}
.plans-color-lg{
  background-color: #e6e6fa;
}
.plans{
  width: 26vw;
  margin: 20px 50px;
color: #000000;
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 #34006f5b, 0 6px 15px 0 #34006f5b;

}
.plans-heading{
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
font-size: 25px;
}

.plans>img{
  width: 150px;
}
.features-stack{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0px;

}
.features-stack>ul{
list-style: none;
}
.features-stack>ul>li{
  margin: 2px 0;
}
.features-stack>ul>li>i{
margin-right: 5px;
}
.features-stack-btn{
  padding: 5px 10px;
  background-color: #34006f5b;
color: #000000;
font-size: 18px;
font-weight: bold;
  border-radius: 5px;
}
.icon {
  font-size: 35px;
  color: #33006f;
  margin: 0 5px;
}
.contact-icon-way > a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}
.contact-icon-way > a:hover {
  cursor: pointer;
  color: #33006f;
}

.contact-t {
  font-size: clamp(6px, 6vh, 12px);
  font-weight: bold;
  letter-spacing: 2px;
}

.map-frame{
  border: 5px solid #33006f;
  border-radius: 20px;
  width:100%;
}

@media only screen and (max-width: 468px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
  }
  .my-img {
    width: 40%;
    border: 20px solid rgba(106, 239, 244, 0.366);
    border-radius: 50%;
  }
  .about {
    padding: 10px;
  }
  .contact-icons {
    width: 40px;
  }
  .tech-icon {
    width: 20%;
    margin: 5px;
  }
  .tech-stack-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
